.filter {
	grid-column: s/e;
	grid-row: extra-s/extra-e;

	&__title {
		display: flex;
		width: 940px;
		padding-left: 22px;
		justify-content: start;

		@media screen and (max-width: 390px) {
			padding-left: 90px;
			font-size: 5rem;
		}
	}

	&__cart {
		background-color: blue;
		position: fixed;
		transform: translateX(
			720px
		);
	}
}

.all-products,
.phones,
.cameras,
.computers,
.headphones,
.tv,
.video-games {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	@media screen and (max-width: 390px) {
		grid-template-columns: 1fr 1fr;
		padding-left: 70px;
		margin-bottom: 400px;
	}
	&__wrapper-item {
		padding-left: 22px;
		padding-bottom: 22px;
	}
}

.product-design-item__main {
	border-radius: 3px;
	transition: all 0.2s
		ease-in-out;
	&:hover {
		box-shadow: -4px 10px 20px
			#1687d933;
	}

	@media screen and (max-width: 390px) {
		padding-bottom: 50px;
	}
	&-item {
		text-decoration: none;
		color: $main-black;
		height: 230px;
		&-wrapper {
			&__img {
				img {
					border-radius: 7px
						7px 0px 0px;
				}
			}
			&__info {
				background-color: $off-white;
				border-radius: 0px 0px
					7px 7px;
				display: grid;
				grid-template-columns: [info-s]150px[info-e bttn-s]1fr[bttn-e];
				grid-template-rows: [s]1fr[m]1fr[e];

				&-brand,
				&-price {
					display: flex;
					padding-left: 5px;
					text-decoration: none;
					color: $main-black;
				}
				&-brand {
					grid-row: s/m;
					height: 20px;
					overflow: hidden;
					font-size: 1.6rem;
				}
				&-price {
					grid-row: m/e;
					height: 20px;
					font-size: 1.4rem;
					font-weight: 600;
				}
				&-cart {
					grid-row: s/e;
					grid-column: bttn-s/bttn-e;
					border-left: 1px
						solid #dddddd;
					height: 25px;
					padding-bottom: 5px;

					display: flex;
					align-self: center;

					.fas {
						color: $light-blue;
						display: flex;
						width: 100%;
						align-self: center;
						justify-content: center;
						padding-top: 5px;
						font-size: 13px;
						transition: all
							0.3s ease-in-out;
						&:hover {
							color: $dark-blue;
						}
					}
				}
			}
		}
	}
}
