.footer {
	&__links {
		width: 80vw;
		display: flex;
		padding-top: 5px;

		&-link {
			cursor: pointer;
			color: black;
			margin-right: 10px;
			margin: black solid 1px;
		}
	}
	&__line {
		box-shadow: 0 2px 6px 0
			#1687d933;
		border-radius: 4px;
	}
	&__copyright {
		padding-top: 5px;
	}
}
