.header {
	display: grid;
	justify-content: center;
	grid-column: 1/-1;
	background-color: $main-blue;
	grid-template-rows: 1fr;
	grid-template-columns: 10px [logo-s] 0.5fr [ logo-e searchbar-s]9fr [ searchbar-e links-s] 2.2fr [links-e];

	@media screen and (max-width: 414px) {
		width: 100%;
		height: 100px;
		grid-template-columns: 10px [logo-s] 1fr [ logo-e searchbar-s]1fr [ searchbar-e links-s] 1fr [links-e];
		grid-template-rows: 1fr;

		.header-image {
			&__img {
				height: 40px;
				width: 80px;
			}
		}

		.header-searchbar {
			width: 100px;
			input {
				height: 40px;
				font-size: 2rem;
			}
		}

		.header-icon {
			&__icon {
				font-size: 4.5rem;
			}

			&__text {
				display: none;
			}
		}
	}

	&-image {
		padding-left: 25px;
		display: flex;
		&__img {
			justify-self: center;
			align-self: center;
			padding-bottom: 1px;
			height: 35px;
			width: 70px;
			grid-column: logo-s/logo-e;
			grid-row: 1/-1;
		}
	}

	&-searchbar {
		display: flex;
		align-items: center;
		grid-column: searchbar-s/searchbar-e;
	}

	&-icon {
		display: flex;
		align-items: center;

		&__icon {
			font-size: 2.5rem;
		}

		&__text {
			display: flex;
			width: 160px;
			padding-left: 7px;
		}
	}

	&__links {
		padding-top: 3px;
		grid-column: links-s/links-e;
		grid-row: 1/-1;

		display: grid;
		grid-template-rows: [s]1fr [e];

		& > * {
			grid-row: s/e;
		}
		align-items: center;
		color: #e6e6e6;
		font-size: 1.7rem;
		padding-right: 10px;

		@media screen and (max-width: 414px) {
			a {
				p {
					display: none;
				}
			}
		}
		a {
			font-family: 'Glory',
				sans-serif !important;
			font-weight: 500;
		}
		&-link {
			font-family: 'Glory',
				sans-serif !important;
			font-weight: 500;
			cursor: pointer;
			color: white;
			transition: all 0.2s
				ease-in-out;
			&:hover {
				color: #aeaeae;
			}
		}
	}
}

.green-text {
	color: #00cb79 !important;
}

.navbar {
	grid-column: 1/-1;
	background-color: $light-blue;
	display: grid;
	grid-template-rows: [s] 1fr [e];

	align-items: center;
	justify-content: start;
	padding-left: 25px;
	column-gap: 15px;
	// box-shadow: 0 2px 6px 0
	// 	rgba(0, 0, 0, 0.2);
	color: $gray;
	font-weight: 300;
	font-size: 1.2rem;

	@media screen and (max-width: 414px) {
		width: 98.7%;
		height: 70px;
		column-gap: 7px;
		padding-left: 5px;
		.navbar__link {
			font-size: 1.5rem;
		}
	}

	& > * {
		grid-row: s/e;
	}

	&__link {
		font-weight: 400;
		cursor: pointer;
		color: white;
		transition: all 0.2s
			ease-in-out;
		&:hover {
			color: #aeaeae;
		}
	}
}
