.home {
	display: grid;
	grid-template-rows: [carousel-s] 0.1fr [carousel-e product-s] 1fr [product-e footer-home-s] 40px[footer-home-e];
	grid-template-columns:
		[extra-s] minmax(
			20px,
			210px
		)
		[s] 1fr[e] minmax(
			20px,
			210px
		)
		[extra-e];
	@media screen and (max-width: 414px) {
		width: 100%;
		grid-template-columns: [extra-s]20px[s]1fr[e]20px[extra-e];
		grid-template-rows: [carousel-s] 100px [carousel-e product-s] 1fr [product-e footer-home-s] 40px[footer-home-e];

		&__carousel {
			grid-row: carousel-s/carousel-e;
			grid-column: s/e;

			width: 100vw !important;
		}

		&__cart {
			width: 0px;
		}
	}
	grid-row: content-s/content-e;
	grid-column: extra-s/extra-e;

	&__cart {
		grid-row: product-s/product-e;
		grid-column: e/extra-e;
		&-cart {
			transform: translateX(
					-400px
				)
				translateY(-290px);
		}
		@media screen and (max-width: 1500px) {
			display: none;
		}
	}

	&__carousel {
		grid-row: carousel-s/carousel-e;
		grid-column: extra-s/extra-e;
	}
	&__products {
		grid-row: product-s/product-e;
		grid-column: s/e;
		padding-top: 40px;

		// &-main__cart {
		// 	transform: translateX()
		// 		translateY();
		// }
	}
	&__footer {
		@media screen and (max-width: 414px) {
			font-size: 2rem;
			.footer__copyright {
				padding-bottom: 50px;
			}
		}
		@media screen and (max-width: 320px) {
			font-size: 0.5rem;
			.footer__copyright {
				padding-bottom: 50px;
			}

			width: 100px;
		}
		padding-top: 60px;
		padding-bottom: 50px;
		grid-row: footer-home-s/footer-home-e;
		grid-column: s/e;
	}
}
