.layout {
	display: grid;
	grid-template-rows: [header-s] 50px [header-e nav-s] 30px [nav-e content-s] 1fr [content-e];
	grid-template-columns:
		[extra-s]minmax(
			20px,
			250px
		)
		[s] 1fr [e] minmax(
			20px,
			250px
		)
		[extra-e];
	@media screen and (max-width: 390px) {
		display: grid;
		grid-template-columns: [extra-s]20px[s]1fr[e]20px[extra-e];
		grid-template-rows: [header-s] 100px [header-e nav-s] 70px [nav-e content-s] 1fr [content-e];
	}
}
