.all-products__wrapper {
	width: 191px;

	@media screen and (max-width: 414px) {
		width: 382px;
	}
}

.product-design-item {
	@media screen and (max-width: 414px) {
		width: 150px;
		&__main {
			height: 150px;
			margin-bottom: 50px;
		}

		.product-design-item__main-item-wrapper__info {
			height: 80px;

			&-brand,
			&-price {
				font-size: 1.8rem;
				height: 50px;
				width: 100px;
			}
			&-price {
				height: 0px;
			}
			&-cart i {
				font-size: 2rem;
			}
		}

		.product-design-item__main-item-wrapper__img
			img {
			width: 150px;
		}
	}

	width: 191px;
	padding-left: 22px;
	padding-bottom: 22px;

	&-wrapper {
		border-radius: 7px;
	}
}
